<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="RegisterationEntities" connectionString="metadata=res://*/RegisterationModel.csdl|res://*/RegisterationModel.ssdl|res://*/RegisterationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-45H0ONO\SQLEXPRESS;initial catalog=Registeration;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Registeration_Entities" connectionString="metadata=res://*/Registeration_Model.csdl|res://*/Registeration_Model.ssdl|res://*/Registeration_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-45H0ONO\SQLEXPRESS;initial catalog=Registeration_;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>